     @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
     @import url('https://fonts.googleapis.com/css2?family=Rampart+One&family=Roboto:wght@100&display=swap');
     @import url('https://fonts.googleapis.com/css2?family=Cookie&family=Rampart+One&family=Roboto:wght@100&display=swap');
     @import url('https://fonts.googleapis.com/css2?family=Cookie&family=Great+Vibes&family=Rampart+One&family=Roboto:wght@100&display=swap');
     @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
     * {
         margin: 0;
         padding: 0;
         box-sizing: border-box;
         text-decoration: none;
         font-family: "Poppins", sans-serif;
    }
     .logoimage {
         width: 100px;
         height: 100px;
         margin-top: 15px;
         margin-left: 30px;
    }




    .scroll-up-btn {
        position: fixed;
        height: 45px;
        width: 42px;
        background: rgb(255, 1, 1);
        right: 30px;
        bottom: 10px;
        text-align: center;
        line-height: 45px;
        color: #fff;
        z-index: 9999;
        font-size: 30px;
        border-radius: 6px;
        border-bottom-width: 2px;
        cursor: pointer;
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s ease;
    }
    .scroll-up-btn.show {
        bottom: 30px;
        opacity: 1;
        pointer-events: auto;
    }
    .scroll-up-btn:hover {
        filter: brightness(90%);
    }
    
    .menu-btn {
        color: #fff;
        font-size: 23px;
        cursor: pointer;
        display: none;
    }
    
    
    
    
    /* web scroller */
    
    
    ::-webkit-scrollbar {
        width: 10px;
    
      }
    
    
      ::-webkit-scrollbar-track {
        /* background-color: rgba(0, 0, 0, 0.9); */
        background: #0b132a;
      }
    
    
      ::-webkit-scrollbar-thumb {
        background: #fff;
        
        border-radius: 10px;
      }
    
    
      ::-webkit-scrollbar-thumb:hover {
        background:darkorange
      }

      .nav-item {
        font-weight: 700;
      
      }
      

     nav {
         /* position: fixed; */
         z-index: 10;
         left: 0;
         right: 0;
         top: 0;
         font-family: 'Montserrat', sans-serif;
         padding: 0;
         height: 100px;
         background-color: #0b132a;
        /* background-color:#3e65da;
         */
         overflow: hidden;
    }
     nav .logo {
         float: left;
         width: 100px;
         height: 100px;
         display: flex;
         align-items: center;
         font-size: 30px;
         color: rgb(7, 7, 7);
    }
    
     nav .links li {
         list-style: none;
    }
     nav .links a {
         display: block;
         padding: 10px;
         font-size: 17px;
         font-weight: bold;
         color: yellow;
         text-decoration: none;
    }
     #nav-toggle {
         position: absolute;
         top: -100px;
    }
     nav .icon-burger {
         display: none;
         position: absolute;
         right: 5%;
         top: 50%;
         transform: translateY(-50%);
    }
     nav .icon-burger .line {
         width: 30px;
         height: 5px;
         background-color: white;
         margin: 5px;
         border-radius: 3px;
         transition: all .3s ease-in-out;
    }
     @media screen and (max-width: 768px) {
         * {
             max-width: 100%;
         }
         
         nav .links {
             float: none;
             position: fixed;
             z-index: 9;
             left: 0;
             right: 0;
             top: 100px;
             bottom: 100%;
             width: 100%;
             height: auto;
             flex-direction: column;
             justify-content: space-evenly;
             background-color: rgba(0, 0, 0, 0.8);
             overflow: hidden;
             box-sizing: border-box;
             transition: all .5s ease-in-out;
        }
         nav .links a {
             font-size: 20px;
        }
         nav :checked ~ .links {
             bottom: 0;
        }
         nav .icon-burger {
             display: block;
        }
         nav :checked ~ .icon-burger .line:nth-child(1) {
             transform: translateY(10px) rotate(225deg);
        }
         nav :checked ~ .icon-burger .line:nth-child(3) {
             transform: translateY(-10px) rotate(-225deg);
        }
         nav :checked ~ .icon-burger .line:nth-child(2) {
             opacity: 0;
        }
    }
     .home {
         background-color: #0b132a;
         background-image: url('../images/bg.png');
         /* background-position: right 100px; */
         color:black;
         /* text-align :center;
         background-repeat:no-repeat; */
         /* background-size: cover; */
         /* height: 100vh; */
        /* width: 100%;
         */
         /* justify-content: center;
         overflow:hidden;
         padding-top: 340px;
         align-items: center; */
         height: 100%;

    width: auto;

    background-attachment: fixed;

    background-size: cover;

    background-repeat: no-repeat;

    margin: auto; 
    }
     .logotext {
        /* position: relative;
         */
         font-size: 6rem;
         color: aliceblue;
        /* font-family: 'Rampart One', cursive;
         */
        /* font-family: 'Cookie', cursive;
         */
         font-family: 'Great Vibes', cursive;
        /* text-transform: uppercase;
         */
         width: 100%;
         text-align: center;
        /* -webkit-box-reflect: below 0px linear-gradient(transparent,#0008);
         */
         line-height: 0.70em;
         outline: none;
         animation: animate 6s linear infinite;
         display: flexbox;
    }
     @keyframes animate {
         0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92% {
             color:#09e9fda4;
            /* color: #a020f5d7;
             */
        }
         18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100% {
             color: #fff;
             text-shadow: 0 0 10px #032ff446, 0 0 20px #032ff446, 0 0 40px #032ff446, 0 0 80px #032ff446, 0 0 160px #032ff446;
        }
    }
     .bt {
         border-radius: 10px;
         display: flexbox;
         justify-content: center;
         transition: all .1s ease-in 0s;
         white-space: nowrap;
         padding: 4px;
         margin-right: 80px;
         background-color: rgba(9, 211, 26, 0) !important;
         height: 50px;
         width: 300px;
         font-size: 2rem;
         font-weight: 900;
         color: white;
         animation: breathe 3500ms infinite forwards ;
    }
     @keyframes breathe {
         50% {
             transform:scaleX(1.12) scaleY(1.12);
        }
         100% {
             transform: scaleX(1) scaleY(1);
        }
    }

    .btn {
        margin: 20px;
        padding: 20px;
        color: black;
        background-color: #2c9fc9;

    }
    .btn:hover {
        color: white;
    }
    .col-lg a{
        font-size: 1em;
    }
     .about{
         height: 95vh;
    }
     .about .title {
         text-align: center;
         font-weight: 900;
         font-size: 40px;
         padding-top: 2em;
    }
     .about .pic {
         border-radius: 50%;
         width: 350px;
         height: 350px;
         padding-top: 5rem;
         padding-bottom: 4rem;
    }
     .abouttext {
         font-family: 'Quicksand', sans-serif;
    }
     h1 {
         font-family:"Montserrat";
         font-weight: bold;
    }
     p {
         font-family: 'Ubuntu', sans-serif;
    }
     .giphy {
        /* padding-left: 50px;
         */
         width: 75%;
         padding-top: 6em;
         justify-content: center;
         display: flexbox;
        /* animation: up-down 2s ease-in-out infinite alternate-reverse both;
         animation: breathe1 6000ms infinite forwards;
         */
    }
     .about .abutme {
         margin-top: 90px;
         padding: 20px;
    }
     @media screen and (max-width) {
         .giphy {
             width: 100%;
             height: 100%;
        }
    }
     @keyframes breathe1 {
         50% {
             transform: translateY(18px);
        }
         100% {
             transform: translateY(0px) ;
        }
    }
     .tracks {
         background-color: #0b132a;
         background-size: cover;
         height: 100vh;
         overflow:hidden;
         width: 100%;
    }
     .scheduletitle {
         text-align: center;
         justify-content: center;
         color: #fff;
         padding-top: 70px;
        /* text-shadow: 1px 10px 10px 1px white;
         */
         font-size: 2.5rem;
    }
     @media screen and (max-width: 640px) {
         .bt1 {
             margin-bottom: 10rem !important;
             height: auto;
             width: 1rem;
        }
         .logo {
             width: 200px;
             height: 250px;
        }
    }
     .timeline123 {
         font-family: 'Roboto', sans-serif;
         min-height: 100vh;
         background-color: #0b132a;
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
    }
     .timeline123 h1{
         color: white;
         padding: 10px 0;
         text-align: center;
    }
     .timeline {
         width: 85%;
         position: relative;
    }
     .content {
         background: #444 ;
         margin: 20px 0;
         padding:20px;
         border-radius: 5px;
         position: relative;
         color: #fff;
    }
     .content h2 {
         text-transform: uppercase;
         letter-spacing: 3px;
    }
     .content p {
         line-height: 1.4;
         margin: 10px 0;
    }
     .content a {
         color: black;
         background: white;
         text-decoration: none;
         padding: 10px 25px;
         display: inline-block;
    }
     .content a:hover {
         background: crimson;
         color: white;
    }
     .content time {
         position: absolute;
         bottom: 10px;
         right: 10px;
         opacity: 0.5;
         text-align:right;
    }
     @media (min-with:700px) {
         .content {
             width: 50%;
        }
         .content:nth-child(odd) {
             float: left;
        }
         .content:nth-child(even) {
             float: right;
        }
    }
    /* TimeLine */
     .timetitle {
         margin-top: 5rem;
         font-family: 'Quicksand', sans-serif;
         font-weight: bold;
    }
     *{
         margin: 0;
         padding: 0;
         box-sizing: border-box;
         font-family: "Poppins", sans-serif;
    }
     html{
         scroll-behavior: smooth;
    }
     body{
         background: #3ea0e2;
    }
     ::selection{
         color: #fff;
         background: #3ea0e2;
    }
     .wrapper{
         max-width: 1080px;
         margin: 50px auto;
         padding: 0 20px;
         position: relative;
    }
     .wrapper .center-line{
         position: absolute;
         height: 100%;
         width: 4px;
         background: #fff;
         left: 50%;
         top: 20px;
         transform: translateX(-50%);
    }
     .wrapper .row{
         display: flex;
    }
     .wrapper .row-1{
         justify-content: flex-start;
    }
     .wrapper .row-2{
         justify-content: flex-end;
    }
     .wrapper .row section{
         background: #fff;
         border-radius: 5px;
         width: calc(50% - 40px);
         padding: 20px;
         position: relative;
    }
     .wrapper .row section::before{
         position: absolute;
         content: "";
         height: 15px;
         width: 15px;
         background: #fff;
         top: 28px;
         z-index: -1;
         transform: rotate(45deg);
    }
     .row-1 section::before{
         right: -7px;
    }
     .row-2 section::before{
         left: -7px;
    }
     .row section .icon, .center-line .scroll-icon{
         position: absolute;
         background: #f2f2f2;
         height: 40px;
         width: 40px;
         text-align: center;
         line-height: 40px;
         border-radius: 50%;
         color: #3ea0e2;
         font-size: 17px;
         box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0,0,0,0.08), 0 3px 0 4px rgba(0,0,0,0.05);
    }
     .center-line .scroll-icon{
         bottom: 0px;
         left: 50%;
         font-size: 25px;
         transform: translateX(-50%);
    }
     .row-1 section .icon{
         top: 15px;
         right: -60px;
    }
     .row-2 section .icon{
         top: 15px;
         left: -60px;
    }
     .row section .details, .row section .bottom{
         display: flex;
         align-items: center;
         justify-content: space-between;
    }
     .row section .details .title{
         font-size: 22px;
         font-weight: 600;
    }
     .row section p{
         margin: 10px 0 17px 0;
    }
     .row section .bottom a{
         text-decoration: none;
         background: #3ea0e2;
         color: #fff;
         padding: 7px 15px;
         border-radius: 5px;
        /* font-size: 17px;
         */
         font-weight: 400;
         transition: all 0.3s ease;
    }
     .row section .bottom a:hover{
         transform: scale(0.97);
    }
     @media(max-width: 790px){
         .wrapper .center-line{
             left: 40px;
        }
         .wrapper .row{
             margin: 30px 0 3px 60px;
        }
         .wrapper .row section{
             width: 100%;
        }
         .row-1 section::before{
             left: -7px;
        }
         .row-1 section .icon{
             left: -60px;
        }
    }
     @media(max-width: 440px){
         .wrapper .center-line, .row section::before, .row section .icon{
             display: none;
        }
         .wrapper .row{
             margin: 10px 0;
        }
    }
    /* tracks */
    
#tracks
{

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}
.card 
{
  position: absolute;
  width: 350px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(0,0,0,0.5);
  transition: 0.3s;
  padding: 30px 50px;
  background: #fff;
  cursor:pointer;
  
}

.card:hover 
{
  height: 500px;
}

.imgbox
{
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-80px);
  z-index: 999;
}
.trackimage 
{
  width: 175px;
  height: 180px;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(0,0,0,0.5);
}
.content1
{
  color: black;
  /* padding: 10px 20px; */
  text-align: center;
  transform: translateY(-400px);
  opacity: 0;
  transition: 0.3s;
}

.card:hover > .content1
{
  opacity:1;
  transform: translateY(-100px);
  
}
.tracktitle 
{
  margin-top: 5%;
  margin-left: 47%;
  font-weight: bold;
}

.container1
{
  position: relative;
  width: 1100px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}

    /* prizes */
     .prizetitle {
         text-align: center;
         font-weight: 900;
         font-size: 40px;
        /* padding-top: 1rem;
         */
        padding-bottom: 70px;
    }
     .intrests {
         padding: 10% 0% 5% 0%;
         text-align: center;
         background-color:#fff;
         z-index: 1;
         color:black;
    }
     .intre {
         text-align: center;
         padding-top: 2rem;
         transform: scale(1.0);
    }
     .text {
         font-weight: bold;
         font-family: 'Ubuntu', sans-serif;
        /* transition: color 0.3s ease;
         */
         float: left;
         opacity: 1;
         transition: 0.5s;
    }
     .text:hover {
         transform: scale(1.09);
         color: #f83c0d;
        /* box-shadow: 2px 2px 2px black;
         */
        /* z-index: ;
         */
         text-shadow: none;
    }
     .prize {
        /* margin-top: -500px;
         */
         padding: 8% 0% 5% 0%;
         text-align: center;
         background-color:#0b132a;
         z-index: 1;
         color:white;
    }
     .icon {
         color:yellow;
         margin-bottom: 1.5rem;
         transform: scale(1);
         transition: 0.5s;
    }
     .icon:hover {
         color: #f83c0d;
         transform: scale(1.09);
    }
    /* sponsors */
     .sponsors {
         height: 50vh;
        /* display: flex;
         */
         justify-content: center;
         align-items: center;
         background: #fff;
    }
     .sponsortitle {
         margin-top: 4rem;
         text-align: center;
         font-weight: 900;
         font-size: 40px;
         margin-bottom: 6rem;
    }
     @-webkit-keyframes scroll {
         0% {
             -webkit-transform: translateX(0);
             transform: translateX(0);
        }
         100% {
             -webkit-transform: translateX(calc(-250px * 7));
             transform: translateX(calc(-250px * 7));
        }
    }
     @keyframes scroll {
         0% {
             -webkit-transform: translateX(0);
             transform: translateX(0);
        }
         100% {
             -webkit-transform: translateX(calc(-250px * 7));
             transform: translateX(calc(-250px * 7));
        }
    }
     .slider {
         background: pr;
         box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
         height: 100px;
         margin: auto;
         overflow: hidden;
         position: relative;
         width: 960px;
    }
     .slider::before, .slider::after {
         background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
         content: "";
         height: 100px;
         position: absolute;
         width: 200px;
         z-index: 2;
    }
     .slider::after {
         right: 0;
         top: 0;
         -webkit-transform: rotateZ(180deg);
         transform: rotateZ(180deg);
    }
     .slider::before {
         left: 0;
         top: 0;
    }
     .slider .slide-track {
         -webkit-animation: scroll 40s linear infinite;
         animation: scroll 40s linear infinite;
         display: flex;
         width: calc(250px * 14);
    }
     .slider .slide {
         height: 300px;
         width: 450px;
    }


    /* FAQ */
     .faq {
         font-family: 'Montserrat', sans-serif;
         background-color: #0b132a;
         color: #fff;
         padding-bottom: 50px;
         max-height: 900vh;
    }
     .faqtitle {
        /* text-align: center;
         */
        /* margin: 2rem 0;
         */
        /* font-size: 2.5rem;
         */
        /* margin-top: 15rem;
         */
         text-align: center;
         font-weight: 900;
         font-size: 40px;
         margin-bottom: 6rem;
    }
     .accordion {
         width: 90%;
         max-width: 1000px;
         margin: 2rem auto;
    }
     .accordion-item {
         background-color: #fff;
         color: #111;
         margin: 1rem 0;
         border-radius: 0.5rem;
         box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
    }
     .accordion-item-header {
         padding: 0.5rem 3rem 0.5rem 1rem;
         min-height: 3.5rem;
         line-height: 1.25rem;
         font-weight: bold;
         display: flex;
         align-items: center;
         position: relative;
         cursor: pointer;
    }
     .accordion-item-header::after {
         content: "\002B";
         font-size: 2rem;
         position: absolute;
         right: 1rem;
    }
     .accordion-item-header.active::after {
         content: "\2212";
    }
     .accordion-item-body {
         max-height: 0;
         overflow: hidden;
         transition: max-height 0.2s ease-out;
    }
     .accordion-item-body-content {
         padding: 1rem;
         line-height: 1.5rem;
         border-top: 1px solid;
         border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
    }
     @media(max-width:767px) {
         html {
             font-size: 14px;
        }
    }
    /* mentor */
     .mentor {
         font-family: 'Montserrat', sans-serif;
         background-color: #fff;
         color:black;
         height: 90vh;
    }
     .mentortitle {
        /* text-align: center;
         */
        /* margin: 2rem 0;
         */
        /* font-size: 2.5rem;
         */
         margin-top: 2.5rem;
         text-align: center;
         font-weight: 900;
         font-size: 40px;
         margin-bottom: 6rem;
    }
    /* footer */
     .footertitle {
        /* text-align: center;
         */
        /* margin: 2rem 0;
         */
        /* font-size: 2.5rem;
         */
         margin-top: 2.5rem;
         text-align: center;
         font-weight: 900;
         font-size: 40px;
         margin-bottom: 6rem;
    }
     #footer {
         text-align: center;
        /* font-family: "Montserrat";
         */
         padding: 4% 2%;
         background-color:#0b132a;
         z-index: 1;
         color: antiquewhite;
         font-size: 1.3rem;
    }
     .icon1 {
         padding-right: 1rem;
         color: yellow;
         transform: scale(1.05);
         transition: 1s;
    }
     .icon1:hover {
         color: #f83c0d;
         transform: scale(1.15);
    }