body{
	margin: 0px;
}
body::-webkit-scrollbar { 
    display: none; 
}

/*body-header*/

#body-header{
	background-image: url(../images/image1.jpg);
	background-repeat: no-repeat;
	opacity: 0.8;
	height: 65vh;
	/*margin:0px ;*/
	padding-top: 1.2rem;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
/*horizontal-list*/
.bars{
    color: white;
    margin: 0;
    float: right;
    margin-right: 5%;
    display: none;
}

.bars i {
    font-size: 2rem;
}

.dropdown-list{
    margin: 0;
    display: none;
    background-color: #828470;
    box-shadow: 0px 4px 8px 1px #535547;
}

.dropdown-list ul{
    margin: 0.2rem 0.2rem;
    text-align: left;
    padding: 0px 0.8rem;
}

.dropdown-menu:hover .dropdown-list{
    display: block;
    position: absolute;
    right: 3%;
}

.dropdown-list li{
    margin: 0.4rem 0px;
}

.no-list-style{
    list-style: none;
}

.no-list-style li {
    font-weight: 100;
    font-size: 0.9rem;
}

.no-list-style li a{
    list-style: none;
    color: white;
    text-decoration: none;
}


.horizontal-list{
	list-style: none;
	padding-left: 0px;
	margin: 0px 8px;
}
.horizontal-list li{
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 100;
    margin: 0px 8px 8px 0px;
}
.horizontal-list li a{
	color: white;
	text-decoration: none;
	padding: 0px 5px;
}
.text-center{
	text-align: center;
}
.nav-menu li a:hover{
	color: lightgrey;
	border-bottom: 1px solid black;
   	/*text-decoration: underline;*/
}
.nav-menu li a{
	transition: color:0.5s border.: 4s ;
}

/*Name and social-icon*/
.social-name-container{
	margin-top: 20vh;
}
#my-name{
	color: white;
	letter-spacing: 0.1rem;
	font-weight: 700;
	font-size: 3rem;
    margin-bottom: 0.5rem;
}
.social-icons li {
	text-decoration: none;
}
.social-icons li a i{
	padding: 5px;
	border-radius: 50%;	
}
.social-icons li a i:hover{
	box-shadow: 0px 0px 12px 4px rgba(230, 196, 196, 0.3);
}
section:nth-child(2n){
	background-color: #9e9b9b29;
}
section:nth-child(2n+1){
 background-color: white;
}
section{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.section-heading{
	width: auto;
	padding: 20px 10px 10px;
	font-weight: 400;
}
.section-heading span{
	font-size: 40px;
	color: #2857a4;
	display: inline-block;
	padding-top: 10px;
	margin-right: 0.5rem;
}
/*timeline*/
.timeline{
	position: relative;
	width: 75%;
	right: 7.5%;
	
}
.timeline-box{
	position: relative;
	margin: 5px;
	width: 50%;
	left: 5%;
	min-height: 150px;
	border:2px solid black ;
	text-align: right;
}
.timeline-box:nth-child(2n){
	left: 64.5%;
}
.timeline-divider{
	position: absolute;
	height: 75%;
	width: 0;
	border: 2px dashed #0096fa6b;
	top: 10%;
	left: 61.5%;
}
.timeline-traveller{
	position: sticky;
	top: 30%;
	transform:rotate(90deg);

}
.timeline-box:nth-child(2n+1)::after{
	content: '';
	position: absolute;
	top: 30%;
	right: -12.8%;
	border-radius: 50%;
	width: 0.5rem;
	height: 0.5rem;
	background-color: red;
}
.timeline-box:nth-child(2n)::after{
	content: '';
	position: absolute;
	top: 30%;
	left: -7.7%;
	border-radius: 50%;
	width: 0.5rem;
	height: 0.5rem;
	background-color: red;
}
.institute-logo{
	position: absolute;
   margin-top: 0px;
    
}
.timeline-logo img{
	width: 10px;
	height: 10px;
}
.degree{
	 margin: 5px 0 0;
    color:#2857a4;
    text-align: right;
    font-weight: 600;
    font-size: 2.1rem;
}
.superscript{
	color:#2857a4;
    text-align: right;
    font-weight: 400;
    font-size: 1rem;
}
.course-heading{
	 margin: 5px 0 0;
    color: #eb822d;
    text-align: right;
    font-weight: 400;
    font-size: 2 rem;
}
.duration {
    margin: 5px 0 0;
    color: #9e9b9b;
    font-weight: 100;
    color: grey;
    font-size: 1rem;
}
/*skills section*/
.skill-name span{
	color: white;
	font-size: 1rem;
 margin-left: 10px;
vertical-align: middle;
}
.skills-display
{
	width: 75%;
	/*height: 100px;
	border: 2px solid black;*/
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	justify-content:space-evenly;
	margin-bottom: 30pxpx;
}
.skill-progress > div{
    border-radius: 20px 0px 0px 20px;
    box-shadow: 1px 1px 5px 2px #989882;
}
.skill-progress{
	width:11rem;
	height:2.2rem;
	background-color: lightgrey;
	border-radius: 1rem;
	box-shadow: 1px 1px 2px 1px #b9b9b9 inset;
	margin: 25px;
	overflow: hidden;
	/*border: 2px solid black;*/
}
/*percentage classes*/
.eighty-percent{
	width: 85%;
	height: inherit;
}
.fifty-percent{
	width: 50%;
	height: inherit;
}
.ninety-percent{
	width: 90%;
	height: inherit;
}
/*margin classes*/
.mb75px{
	margin-bottom: 75px;
}
/*skills-colors for diff percentage*/

.mb-blue{
	background-color:#2857a4;
}
.mb-orange
{
	background-color: orange;
}
.mb-green{
	background-color: darkgreen;
}
.mb-maroon{
	background-color: maroon;
}
 /*About section*/
 #about{
 	height: auto;
 	width: 100%;
 	position: relative;
 }
 #profile-image{
 	display:inline-block;
 	height: 14rem;
 	width: 14rem;
 	margin:auto;
 	margin-top: -17vh;
 	
 }
 #profile-image img{
 	height: 100%;
 	width: 100%;  
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 1px 1px 10px 2px lightgrey;
 }
 #about-para{
 	padding: 10px;
 	width: 70%;
 	text-align: justify;
    color: grey;
    line-height: 28px;
    font-size: 1.1rem;
    margin: auto;

 }
 /*portfolio section*/

 #portfolio-container{
 	box-sizing: border-box;
 	display: flex;
 	flex-wrap: wrap;
 	padding:0 50px;
 	margin-bottom: 20px;
 	justify-content: space-between;
 }
 .portfolio-img-container{
    max-width: 300px;
    overflow: hidden;
    margin: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
 }
 .portfolio-img-container img{
 	height: 100%;
 	width: 100%;
 }
 .portfolio-details{
 	transition: all 0.5s ease-in-out;
 	position: absolute;
 	top: 0;
 	left: 0;
 	height: 100%;
 	width: 100%;
 	color: transparent;
 	text-align: center;
 	padding: 10px;
 }
 .portfolio-img-container:hover {
    box-shadow: 0 0 20px #74ADC8;
}
 .portfolio-img-container:hover .portfolio-details {
    background-color: #80808078;
    color: white;
}
/*Contact me */
#contact-me{

height: 100%;
width: 100%;
display: flex;
flex-wrap: wrap;
background-image: linear-gradient(23deg,#2857a4 27%,#403066 63%);
color: white;
}

.contact-container{
	float: left;
	height: 100%;
	width: 100%;
	
}
.contact-person-details{
	float: left;
	display: flex;
	flex-wrap: wrap;
	width: 30%;
	margin-left: 10%;

}
.contact-section-heading{
	width: auto;
	padding: 20px 10px 10px;
	font-weight: 400px;
}
.contact-section-heading span{
	font-size: 40px;
	color:white;
	display: inline-block;
	padding-top: 10px;
	margin-right: 0.5rem;
}
.contact-social-links{
	margin-left: 50px;
}

button[type="submit"]
{
font-size: 24px;
background-color: transparent;
border:2px solid black;
color: white;
padding:12px;
margin: 10px;
margin-top:30px ;
}
input[type="text"],input[type="email"],input[type="text-box"]
{
font-size: 20px;
background-color: transparent;
border:0px solid white;
border-bottom: 2px solid white;
line-height: 30px;
padding: 21px;
}
button[type="submit"]:hover
{
box-shadow: 10px 10px 30px white;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.my-details{
	float: left;
	width: 50%;
	margin-left: 6%;
}
.my-details-info-container {
    margin-bottom: 20px;
    color: #d9dcdd;
    font-size: 1rem;
}
.my-details-info-container span {
    margin-left: 0.4rem;
}

.my-details-info-container i {
    color: white;
}

@media only screen and (max-width: 572px) {
    html,body{
    	margin: 0px;
    	padding: 0px;
    }
    .timeline-box {
        width: 100%;
        left: 10% !important;
    }

    .bars {
        display: block;
    }
    
    
    .nav-menu {
        display: none;
    } 
}


@media only screen and (max-width: 768px) {


    .timeline-box {
        width: 100%;
        left: 10% !important;
    }

    .timeline-box::after {
        left: -9.3% !important;
    }

    #timeline-divider {
        
       left: 3.8%;
        
    }
    .timeline-divider{
    }

    #contact-form {
        margin-left: 0%;
    }

    #contact-person-details {
        flex-wrap: wrap;
    }

    #mydetails {
        width: 100%;
        
    }

    #contact-form {
        width: 80%;
        margin: 10%;
    }
    .about-me{
    	font-size: 1rem;
    }
    .course-heading{
        font-size: 2 rem;
    }


}

















/*
@media only screen and (max-width: 768px) {

html,body{
    	margin: 0px;
    	padding: 0px;
    }	
    .timeline-box {
        width: 100%;
        left: 10% !important;
    }

    .timeline-box::after {
        left: -9.3% !important;
    }

    #timeline-divider {
        top: 10%;
        left: 2%;
    }

    #contact-form {
        margin-left: 0%;
    }

    #contact-container {
        flex-wrap: wrap;
    }

   .contact-person-details{
    	width: 100%;
    }
    .mydetails{
    	width: 100%;
    }

    .about-me{
 	font-size: 1rem;
 	
 	}
  #body-header{
  	margin: 0px;
  }
  .timeline-divider{
	left: 3.8%;
    }
    .course-heading{
    	font-size: 0.1rem;
    	overflow: hidden;
    }
}*/












































/*@media only screen and (max-width: 600px) {
    html,body{
    	margin: 0px;
    	padding: 0px;
    	overflow-y:hidden;
    }
    .timeline{
    	width: 85%;
    }
    .timeline-box {
        width: 100%;
        left: 12% !important;
    }

    .bars {
        display: block;
    }
    .timeline-box:nth-child(2n)::after{
    	left: -10%;

    }
    .timeline-box:nth-child(2n+1)::after{
    	left: -10%
    }
    
    .nav-menu {
        display: none;
    } 
    .timeline-divider{
	left: 4%;
    }
    .contact-person-details{
    	width: 100%;
    }
    .mydetails{
    	width: 100%;
    }
    .about-me{
 	font-size: 1rem;
 	float: left;
 	}
  #body-header{
  	margin: 0px;
  }
}*/