@import "../style.css";
/* // Medium devices (tablets, 768px and up) */

@media only screen and (min-width:760px) and (max-width:992px){
#info{
    height:auto !important;
    margin-left: 0rem !important;
}
.about-us{
    width:17rem;
}
.mission{
    width: 15rem;
}
.vision{
    width:12rem;
}
.event{
    margin-top: 16vh;
    margin-bottom: 330vh!important;
}
.up-event{
    margin-left: 0vw!important;
    margin-right: 13vw!important;
}
.w-100vw{
    width: 100vw!important;
}
.past-event{
    margin-left: 27vw!important;
}
#gray_bg{
    height:111rem!important;
}
.as{
    margin-left: 8.2rem;
}
.ml-n7{
    margin-left: 0rem!important;
}
#team{
    margin-top: -131rem!important;
}
.team-cont-p{
    margin-left: -2rem;
    margin-right: 0rem!important;
    margin-top: -2rem!important;
}
.team-cont-j{
    margin-left: -7rem!important;
    margin-top: -2rem!important;
    margin-right: -2rem;
}
.team-cont-h{
    margin-top:-2rem!important;
}
.team-cont-a{
    margin-left:-3rem!important;
}
.login-btn{
    margin-left: 15rem!important;
}
.aptech{
    margin-left:1.5rem!important;
}
.sp-img{
    margin-left: -0.5rem!important;
}
} 