@media screen and (min-width:1180px) {
    /* About us */
    #info{
       height: auto;
       display: flex;
       justify-content: center;
       margin-bottom: 40px ;
       margin-left: 0vh;
    }
    .about-us{
       display: flex;
       width: 30% !important;
       height: auto;
    }
    .mission{
       width: 30% !important;
       height: auto;
    }
    .vision{
       width: 30% !important;
       height: auto;
    }
    
    .card-tittle{
       width: auto;
 
    }
    /* Event  */
    .event-container{
       display: flex;
       justify-content: center;
       height: auto;
    }
    
    .up-card{
       width: 18rem;
       
    }
    .past-event{
       display: flex;
       justify-content: center;
 
    }
 } 